
body {
    margin: 0 0 5em;
    padding: 0;
}

body, textarea {
    font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
}

#header {
    background-color: #1D59E1;
    text-align: center;
    padding: 2em;
}

#header img {
    vertical-align: middle;
    max-width: 900px;
    width: 90%;
}

#main {
    width: 100%;
    margin: 0 auto;
    padding: 2em;
    box-sizing: border-box;
}

@media only screen and (min-width: 1000px) {
  #main {
    max-width: 800px;
  }
}

.table {
    display: flex;
    align-items: center;
}

.table > * {
    flex-grow: 1;
}

.action-buttons {
    text-align: center;
}

textarea {
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
}

details {
    margin-bottom: 2em;
}

details[open] {
    margin-bottom: 2em;
}

summary {
    cursor: pointer;
}

h2 {
    margin-top: 2em;
}

h3 {
    display: inline;
}

#courses {
    margin: 0;
}

.tag {
    font-size: 60%;
    color: #ffffff;
    vertical-align: middle;
    border-radius: 0.25em;
    padding: 0.1em 0.33em;
    margin-right: 0.2em;
}

.tag-pc {
    border: 1px solid #007700;
    background-color: #009900;
}

.tag-rc,
.tag-l {
    border: 1px solid #770000;
    background-color: #990000;
}

.tag-ic,
.tag-lc {
    border: 1px solid #000077;
    background-color: #000099;
}

.tag-welc,
.tag-pan,
.tag-hack,
.tag-je {
    border: 1px solid #777777;
    background-color: #999999;
}

.youtube-embed .info-embed {
    width: 100%;
    height: 340px;
    border: 1px solid #888888;
    background-color: #cccccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.youtube-embed .info-embed p {
    width: 80%;
    text-align: center;
}

.youtube-embed iframe {
    width: 100%;
    height: 340px;
}

button {
    font-size: 120%;
}
