
html, body {
    margin: 0;
    padding: 0;
}

body, textarea {
    font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
}

#header {
    background-color: #1D59E1;
    text-align: center;
    line-height: 150px;
}

#header img {
    vertical-align: middle;
    width: 900px;
}

#main {
    width: 600px;
    margin: 0 auto;
    padding: 2em;
}

.table {
    display: flex;
    align-items: center;
}

.table > * {
    flex-grow: 1;
}

.action-buttons {
    text-align: center;
}

textarea {
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
}

#messages .info {
    border: 1px solid #80FF80;
    background-color: #BFFFBF;
    color: #008000;
    padding: 0.5em 1em;
}

#messages .error {
    border: 1px solid #FF8080;
    background-color: #FFBFBF;
    color: #800000;
    padding: 0.5em 1em;
}

form {
    margin-top: 2em;
}

.slider,
#more-input {
    display: flex;
    gap: 1em;
    align-items: center;
}

.slider label,
#more-input label {
    line-height: 2.5em;
    font-weight: bold;
    font-size: large;
    width: 12em;
}

.slider input,
#more-input input,
#more-input button {
    flex-grow: 1;
}

#more-input input,
#more-input button {
    width: 8em;
    height: 3em;
    text-align: center;
}

#more-input {
    margin: 1em 0 2em;
}

#canvas-wrapper {
    margin-top: 1em;
    position: relative;
}

#canvas-wrapper > * {
    position: absolute;
    left: 0;
    top: 0;
    width: 600px;
    height: 600px;
}

#canvas-wrapper img {
    width: 600px;
    height: 600px;
    background-image: url("spinner.gif");
    background-repeat: no-repeat;
    background-position: center;
}
