/* These are the custom css styles for the wordpress installation */

/* global styles */

body {
	line-height: 2.0;
}

body, .site-header {
	background-color: #1D59E1;
}

.custom-header-media::before {
    background: -moz-linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.0) 100%);
    background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.0) 100%);
}

.site-branding {
	padding: 0;
}

body.has-header-video .site-title a, body.has-header-image .site-title a {
	color: transparent;
}

body:not(.title-tagline-hidden) .site-branding-text {
	display:block;
}

.custom-header-media {
  display: none;
}

.home .custom-header-media {
  display: inherit;
}

.site-title a {
background-image: url(https://interdisciplinary-college.org/material/temporary_logo.png);
background-size: 100%;
background-repeat: no-repeat;
background-position: center;
color: transparent;
width: 90%;
max-width:80vw;
margin:0 45px auto;
display:block;
font-size:46px;
height: 100px;
}

@media screen and (max-width: 800px) {
.home .custom-header-media {
width:30vw;
	display: none;
}
	
	.site-title a {
background-image: url(https://interdisciplinary-college.org/material/temporary_logo.png);
background-size: 100%;
background-repeat: no-repeat;
background-position: center;
color: transparent;
width: 90%;
max-width:95vw;
margin:0 auto 0;
display:block;
/*font-size:46px;*/
font-size:10px;
height: 100px;
}
	
	.has-header-image.twentyseventeen-front-page .custom-header, .has-header-video.twentyseventeen-front-page .custom-header, .has-header-image.home.blog .custom-header, .has-header-video.home.blog .custom-header {
    height: auto;
	}
	
	.has-header-image .custom-header-media img, .has-header-video .custom-header-media video, .has-header-video .custom-header-media iframe {
		min-height: 0;
		
	}
}


@media screen and (min-width: 800px) {

.site-branding {
	padding: 1.5em 0 0 0;
}

body, .site-header, .navigation-top {
	background-color: #1D59E1;
}	
	
.navigation-top .current-menu-item > a, .navigation-top .current_page_item > a {
    color: white;
}

.site-header .navigation-top .menu-scroll-down {
    color: white;
}

.navigation-top a {
  color: #93CFF0;
}

.navigation-top a:hover {
  color: white;
}

.navigation-top {
	border:none;
}


.main-navigation ul {
	text-align:center;
}



.feature-box {
	margin:0em -.2em 2em;
	font-size:1.2em;
	padding:0.8em 0.2em;
	color:black;
	border-bottom:0px solid #93CFF0;
}

.feature-box a {


}

a.button {
	box-shadow:0px 0px 0px #666;
	display:inline-block;
	text-decoration:none;
	background-color:#1D59E1;
	color:#9CC4E3;
	font-size:0.8em;
	border-radius:1em;
	padding:0.2em 0.95em 0.2em;
  font-weight:600;
	margin:0 0.5em;
}

a.button:hover {
	box-shadow:1px 2px 5px #999;
	color:white;
}
	
}

div.entry-meta {
	display:none;
}

.chairs {
  line-height: 1.3em;
	font-size:0.9em;
	display:grid;
	grid-template-columns: auto auto auto;
}

/* 
 * for small screens we use
 * a one-column layout
 */

@media only screen and (max-width: 1400px),
	only screen and (min-resolution: 105dpi) and (max-width: 1680px),
	only screen and (min-resolution: 121dpi) and (max-width: 1920px),
	only screen and (min-resolution: 130dpi) and (max-width: 2048px),
	only screen and (min-resolution: 162dpi) and (max-width: 2560px),
	only screen and (min-resolution: 187dpi) and (max-width: 2960px),
	only screen and (min-resolution: 314dpi) and (max-width: 4960px) {
	.chairs { grid-template-columns: auto; }
}

.chairs div.chair {
    padding: 5px;
		text-align:center;
		width:150px;
}

.chairs img {
    width: 140px;
    height: 140px;
		max-width: 140px;
		max-height:140px;
    border-radius: 50%;
    margin: 0em auto;
	  object-fit: cover;
}

.chairs figure {
	margin-bottom:0;
}

/* end of rsl edits */

/*** Font management ***/

/* LibreFranklin regular */
 
@font-face {
	font-family: 'Libre Franklin';
	src: url('/fonts/LibreFranklin-Regular/LibreFranklin-Regular.eot');
	src: url('/fonts/LibreFranklin-Regular/LibreFranklin-Regular.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/LibreFranklin-Regular/LibreFranklin-Regular.woff2') format('woff2'),
		 url('/fonts/LibreFranklin-Regular/LibreFranklin-Regular.woff') format('woff'),
		 url('/fonts/LibreFranklin-Regular/LibreFranklin-Regular.ttf') format('truetype'),
		 url('/fonts/LibreFranklin-Regular/LibreFranklin-Regular.svg#LibreFranklin_regularregular') format('svg');
	font-weight: 400;
	font-style: normal;
}
 
/* LibreFranklin italic */
 
@font-face {
	font-family: 'Libre Franklin';
	src: url('/fonts/LibreFranklin-Italic/LibreFranklin-Italic.eot');
	src: url('/fonts/LibreFranklin-Italic/LibreFranklin-Italic.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/LibreFranklin-Italic/LibreFranklin-Italic.woff2') format('woff2'),
		 url('/fonts/LibreFranklin-Italic/LibreFranklin-Italic.woff') format('woff'),
		 url('/fonts/LibreFranklin-Italic/LibreFranklin-Italic.ttf') format('truetype'),
		 url('/fonts/LibreFranklin-Italic/LibreFranklin-Italic.svg#LibreFranklin_regularitalic') format('svg');
	font-weight: 400;
	font-style: italic;
}
 
/* LibreFranklin bold */
 
@font-face {
	font-family: 'Libre Franklin';
	src: url('/fonts/LibreFranklin-Bold/LibreFranklin-Bold.eot');
	src: url('/fonts/LibreFranklin-Bold/LibreFranklin-Bold.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/LibreFranklin-Bold/LibreFranklin-Bold.woff2') format('woff2'),
		 url('/fonts/LibreFranklin-Bold/LibreFranklin-Bold.woff') format('woff'),
		 url('/fonts/LibreFranklin-Bold/LibreFranklin-Bold.ttf') format('truetype'),
		 url('/fonts/LibreFranklin-Bold/LibreFranklin-Bold.svg#LibreFranklinbold') format('svg');
	font-weight: 700;
	font-style: normal;
}
 
/* LibreFranklin light */
 
@font-face {
	font-family: 'Libre Franklin';
	src: url('/fonts/LibreFranklin-Light/LibreFranklin-Light.eot');
	src: url('/fonts/LibreFranklin-Light/LibreFranklin-Light.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/LibreFranklin-Light/LibreFranklin-Light.woff2') format('woff2'),
		 url('/fonts/LibreFranklin-Light/LibreFranklin-Light.woff') format('woff'),
		 url('/fonts/LibreFranklin-Light/LibreFranklin-Light.ttf') format('truetype'),
		 url('/fonts/LibreFranklin-Light/LibreFranklin-Light.svg#LibreFranklinlight') format('svg');
	font-weight: 300;
	font-style: normal;
}

/*** removal of footer ***/

div.site-info {
	display:none;
}

nav.navigation {
    display: none;
}

/*** Smaller margin in page headers ***/

.entry-header {
	margin-bottom:1em !important;
}

/*** Anchor offset ***/

:target:before {
	content:"";
	display:block;
	height:10px; /* fixed header height*/
}

/*** Offset for images in course descriptions ***/

div.wp-block-image img {
		padding-top:15px;
}

/*** Registration Form layout **/

#registration-button {
	display:grid;
	text-align:center;
	text-align:center;
	font-size:large;
}

#registration_form div.table,#description_form div.table,#suggestion_form div.table {
	display: table;
	padding-bottom:20px;
}
#registration_form div.table p, #description_form div.table p, #suggestion_form div.table p { display: table-row;  }
#registration_form div.table p.table-newblock label { padding-top: 50px; }
#registration_form label, #description_form label, #suggestion_form label {
	display: table-cell;
	padding-right:10px;
	font-weight:400;
}
#registration_form input, #description_form input, #suggestion_form input {
	display: table-cell;
}
#registration_form input[type=text] {
	min-width: 100px;
}

#registration_form select {
	display: table-cell;
}

#registration_form sup a, a.footnote {
	box-shadow:none;
}
#registration_form #no, #registration_form #billing_no {
	width:60px;
}
#registration_form .no_label {
	padding-left:10px;
}
#registration_form #gi_number {
	width:100px;
}
#registration_form #credit_card_participant {
	width:300px;
}

#registration_form span.radiocell {
    display: table-cell;
    width:80px;
}

#registration_form #travel_location {
    width:130px;
}

#registration_form #travel_cost {
    width:90px;
}

/*** Reimbursement Form layout **/

#reimbursement_form div.table {
	display: table;
	padding-bottom:20px;
}
#reimbursement_form div.table p { display: table-row;  }
#reimbursement_form div.table p.table-newblock label { padding-top: 50px; }
#reimbursement_form label {
	display: table-cell;
	padding-right:10px;
	font-weight:400;
}
#reimbursement_form input {
	display: table-cell;
}
#reimbursement_form #conference_fee, #reimbursement_form #accommodation_fee {
    width: 100px;
    padding-right:10px;
}

/*** Evaluation Form Layout ***/

#evaluation_table label{
	padding-bottom: 20px;
	font-size:80%;
}

/***** Schedule layout *****/

#schedule22 a {
	color:white; text-decoration: none; box-shadow: none;
}


@media only screen and (min-width: 768px) {

	body.page-id-2683 div.site-content-contain {
		width:1920px;
	}

	body.page-id-2683 div.wrap {
		margin-left: 1em;
	}
	
	#schedule22 {
		width:1800px;
	}
	
	#schedule22 .container{
			display:inline-grid	 ;
			grid-template-columns: 1fr repeat(5, minmax(250px, 2fr));
			grid-template-rows: repeat(2, 1fr 4fr 1fr 4fr 3fr 4fr 2fr 4fr 5fr);
			column-gap: 20px;
			row-gap: 3px; 
	}
	#schedule22 .sidebar{
			visibility: visible;
			grid-column: 1 / span 1;
			position: sticky; 
			left: 0; 
			background-color: darkgray;
			padding: 10px	
	}

	#schedule22 .day1{grid-column: 2;}
	#schedule22 .day2{grid-column: 3;}
	#schedule22 .day3{grid-column: 4;}
	#schedule22 .day4{grid-column: 5;}
	#schedule22 .day5{grid-column: 6;}

	#schedule22 .header{
		grid-row: 1;
		background-color: darkgray;
		padding: 10px	
	}
	#schedule22 .headerw2{
		grid-row: 10;
		background-color: darkgray;
		padding: 10px	
	}
	#schedule22 .slot1_d1
	{
		background-color: rgb(255, 255, 255);
		gap: 3px;
		grid-row: 2;
	}
	#schedule22 .slot1w2_d1{
		background-color: rgb(255, 255, 255);
		gap: 3px;
		grid-row: 11;
	}
	#schedule22 .slot2_d1
	{
		background-color: rgb(255, 255, 255);
		gap: 3px;
		grid-row: 4;
	}
	#schedule22 .slot2w2_d1{
		background-color: rgb(255, 255, 255);
		gap: 3px;
		grid-row: 13;
	}
	#schedule22 .slot1{	
			background-color: rgb(255, 255, 255);
			gap: 3px;
			grid-row: 2;
			display: grid;
			grid-template-columns: repeat(3, minmax(0, 1fr));
			
	}
	#schedule22 .slot1w2{	
			background-color: rgb(255, 255, 255);
			gap: 3px;
			grid-row: 11;
			display: grid;
			grid-template-columns: repeat(3, minmax(0, 1fr));
			
	}
	#schedule22 .break1{
		grid-row: 3;
		padding: 10px;
		background-color: lightgray;
	}
	#schedule22 .break1w2{
		grid-row: 12;
		padding: 10px;
		background-color: lightgray;
	}
	#schedule22 .slot2{
			
			background-color: rgb(255, 255, 255);
			gap: 3px;
			grid-row: 4;
			display: grid;
			grid-template-columns: repeat(3, minmax(0, 1fr));
			
	}
	#schedule22 .slot2w2{		
			background-color: rgb(255, 255, 255);
			gap: 3px;
			grid-row: 13;
			display: grid;
			grid-template-columns: repeat(3, minmax(0, 1fr));	 
	}
	#schedule22 .break2{
		grid-row: 5;
		padding: 10px;
		background-color: lightgray;
	}
	#schedule22 .break2w2{
		grid-row: 14;
		padding: 10px;
		background-color: lightgray;
	}
	#schedule22 .slot3{grid-row: 6}
	#schedule22 .slot3add{grid-row: 6/span 2}
	#schedule22 .slot4{grid-row: 7}
	#schedule22 .slot4add{grid-row: 7/span 2}
	#schedule22 .slot5{grid-row: 8}
	#schedule22 .empty{grid-row: 9}

	#schedule22 .slot3w2{grid-row: 15}
	#schedule22 .slot3w2add{grid-row: 15/span 2}
	#schedule22 .slot3w2all{grid-row: 15/span 3}
	#schedule22 .slot4w2{grid-row: 16}
	#schedule22 .slot4w2add{grid-row: 16/span 2}
	#schedule22 .slot5w2{grid-row: 17}

	#schedule22 .subslot{grid-column: auto;
			font-size: 80%; }
	#schedule22 .space,
	#schedule22 .sidebar_phone,
	#schedule22 .break_phone {
		visibility: hidden;
	}
}
@media only screen and (max-width: 767px) {

	#schedule22 .sidebar{
			visibility: hidden;
	}
	#schedule22 .sidebar_phone{
			min-height: 20px;
			visibility: visible;
			background-color: lightgray ;
			padding: 10px ; 
			margin-bottom:5px;
			margin-top:5px;
	}
	#schedule22 .header{
		margin-bottom:5px;
		background-color: darkgray;
		padding: 20px	
	}
	#schedule22 .headerw2{
		margin-bottom:5px;
		background-color: darkgray;
		padding: 20px ;
		
	}
	#schedule22 .slot1,
	#schedule22 .slot2,
	#schedule22 .slot1w2,
	#schedule22 .slot2w2 {
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
	#schedule22 .slot3,
	#schedule22 .slot5,
	#schedule22 .slot3w2,
	#schedule22 .slot5w2{}

	#schedule22 .slot4,
	#schedule22 .slot4w2{}

	#schedule22 .slot3add,
	#schedule22 .slot3w2add,
	#schedule22 .slot4add,
	#schedule22 .slot4w2add{height: 120px}
	#schedule22 .slot5{}
	#schedule22 .slot3w2all{height: 160px}
	
	#schedule22 .subslot{grid-column: auto; }
	#schedule22 .space{
		visibility: visible; 
		background-color: white; 
		padding: 25px }
	#schedule22 .break_phone {
		margin-bottom:5px;
		visibility: visible; 
		background-color: white; 
		padding: 10px }
}

/*colour coding*/

#schedule22 .je,#schedule22 .rainbow {
	background-color: rgb(71, 65, 122) ; 
	color: white;
	word-break: break-word;
	padding: 10px
		 
}
#schedule22 .ns {
	background-color: rgb(47, 134, 134); 
	color: white;
	word-break: break-word;
	padding: 10px
}
#schedule22 .mind {
	background-color: rgb(47, 90, 146); 
	color: white;
	word-break: break-word;
	padding: 10px
}
#schedule22 .com {
	background-color: rgb(223, 171, 1);
	color: white;
	word-break: break-word;
	padding: 10px
}
#schedule22 .ai {
	background-color: rgb(207, 101, 58); 
	color: white;
	word-break: break-word;
	padding: 10px
}
#schedule22 .legend {
	background-color: rgb(255, 255, 255);
	display: grid;
	grid-column: 6;
	grid-row: 17;
	grid-template-rows: repeat(5, minmax(0, 1fr));
}

/* remove the default max width limitation of wordpress */
body.page-id-87 div.wrap, body.page-id-87 #primary,body.page-id-105 div.wrap, body.page-id-105 #primary, body.page-id-2683 #primary {
	max-width: unset !important;
}

#post-34 figure {
	width:1100px;
}

/* Remove title display for schedules */
body.page-id-87 .entry-header, body.page-id-105 .entry-header { display: none; }

/* Schedule parent style, including the buttons */
#schedule-parent { }

/* For high resolutions, we increase the font size */
@media only screen and (min-resolution:200dpi) and (max-resolution:300dpi) {
	#schedule-parent { font-size: 18px; }
}
@media only screen and (min-resolution:300dpi) {
	#schedule-parent { font-size: 21px; }
}

/* link styling */ 
#schedule-parent a { text-decoration: none; color: black; box-shadow: none; }

/* map styling */
#schedule-parent img.map {
	display:none;
	position:absolute;
	background-color:white;
}

#schedule-parent span.location:hover + img.map {
	display:block;
}



/***********************************
* Virtual IK single track Schedule *
************************************/

/* General daily schedule layout */
#schedule-single-track, #schedule-courses {
	width: 700px;
	background-color: white;
	display: grid;
	grid-column-gap: 0.5em;
	grid-template-columns: 100%;
,}

/* Layout within a single session entry */
#schedule-single-track .session {
	background-color: #1d8ece;
	grid-template-columns: 65px auto;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: white;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#schedule-single-track div.day {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#schedule-single-track h3.day-heading {
	background-color: #d3d7cf;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#schedule-single-track span.session-title {
	font-weight: bold;
}

#schedule-single-track span.session-instructor {
	font-style: italic;
}

#schedule-table th {
	height: 240px;
	vertical-align: bottom;
	text-align: left;
	line-height: 1;
	position: -webkit-sticky;
	position: sticky;
	top: 74px;
	background-color:white;
}

#schedule-table .day-header {
	width:100px;
}

#schedule-table .course-header-parent {
	width: 90px;
}

#schedule-table .course-header {
	width: 350px;
	transform-origin: bottom left;
	transform: translateX(40px) rotate(-30deg);
}

#schedule-table span.course-instructor {
	font-weight:normal;
	font-style:italic;
}

#schedule-table td {
	background-color:#eeeeec;
	border-style:solid;
	border-color: white;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	line-height:1;
}

#schedule-table td.session.pc {
	background-color:#1d8ece;
}

#schedule-table td.session.evnt {
	background-color:#9280c1;
}

#schedule-table td.session.hk {
	background-color:#9280c1;
}

#schedule-table td.session.evnt {
	text-align:center;
}

#schedule-table span.session-title {
	font-weight: bold;
	padding-right:10px;
}

/*****************
* Daily Schedule *
*****************/

/* General daily schedule layout */
#schedule-daily {
	display: grid;
	grid-column-gap: 0.5em;
	grid-template-columns: 20% 20% 20% 20% 20%;
	min-width: 1100px;
	background-color:white;
	margin-top:20px;
}

#schedule-daily #evening-slot{
	display:flex;
	flex-direction: column;
}

#schedule-daily .session.active div {
    box-shadow: 0 0 8px #000000;
}

/* We use only two column whenever the screen is too
small to fit five columns of 8 cm each, i.e. if the
screen width divided by 5*3.15 inches is bigger than
the resolution of the screen in dpi */
@media only screen and (max-width: 1400px),
	only screen and (min-resolution: 105dpi) and (max-width: 1680px),
	only screen and (min-resolution: 121dpi) and (max-width: 1920px),
	only screen and (min-resolution: 130dpi) and (max-width: 2048px),
	only screen and (min-resolution: 162dpi) and (max-width: 2560px),
	only screen and (min-resolution: 187dpi) and (max-width: 2960px),
	only screen and (min-resolution: 314dpi) and (max-width: 4960px) {
	#schedule-daily { grid-template-columns: 50% 50%;
		min-width:0px; }
}
/* We use only a single column whenever the screen is too
small to fit second columns of 8 cm each, i.e. if the
screen width divided by 2*3.15 inches is bigger than
the resolution of the screen in dpi */
@media only screen and (max-width: 1024px),
	only screen and (min-resolution: 266dpi) and (max-width: 1680px),
	only screen and (min-resolution: 304dpi) and (max-width: 1920px),
	only screen and (min-resolution: 325dpi) and (max-width: 2048px),
	only screen and (min-resolution: 406dpi) and (max-width: 2560px),
	only screen and (min-resolution: 469dpi) and (max-width: 2960px),
	only screen and (min-resolution: 787dpi) and (max-width: 4960px) {
	#schedule-daily { grid-template-columns: 100%; }
}

/* Date layout */
#today { font-weight: bold; }

/* Styling for time slot headers */
#schedule-daily .timeslot > h3 { padding-left: 0.5em; background-color: #d3d7cf }

/* Layout within a single session entry */
#schedule-daily .session {
	display: grid;
	grid-template-columns: 65px auto;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: white;
}

/* Layout within the course ID box */
#schedule-daily div.course-id {
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

/* Layout within the course title box */
#schedule-daily div.course-title {
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#schedule-daily span.start-time, #schedule-daily span.end-time {
	font-size: 16px;
}

/******************
* Weekly Schedule *
******************/

#schedule-week-table {
	width: 2400px;
	table-layout: fixed;
}

#schedule-week col { width: 60px; }
#schedule-week col.course-title { width: 300px; }

#schedule-week td,#schedule-week th {
	padding: 0.2em;
	border-color: white;
	border-width: thin;
	border-style: solid;
	text-align: center;
}

/* For high resolutions, we increase the padding and the column width */
@media only screen and (min-resolution:200dpi) and (max-resolution:300dpi) {
	#schedule-week td,#schedule-week th { padding: 0.5em; }
	#schedule-week col { width: 70px; }
	#schedule-week col.course-title { width: 400px; }
}
@media only screen and (min-resolution:300dpi) {
	#schedule-week td,#schedule-week th { padding: 1em; }
	#schedule-week col { width: 100px; }
	#schedule-week col.course-title { width: 600px; }
}

/* Styling for time slot headers */
#schedule-week #filler {
	background-color: white;
	position: -webkit-sticky;
	position: sticky;
	top: 74px;
	left: -8px;
	z-index: 3;
	background-clip: padding-box;
}

#schedule-week th.day-header {
	background-color: #555753;
	color: white;
	position: -webkit-sticky;
	position: sticky;
	top: 80px;
	z-index: 2;
	border-right-style: solid !important;
	border-right-width: medium !important;
	background-clip: padding-box;
}
#schedule-week .timeslot-header {
	position: -webkit-sticky;
	position: sticky;
	top: 115px;
	z-index: 2;
	border-bottom-style: solid !important;
	border-bottom-width: medium !important;
	background-clip: padding-box;
}

#schedule-week .morning-slot {
	background-color: #d3d7cf;
}

#schedule-week .noon-slot {
	background-color: #eeeeec;
}

#schedule-week .afternoon-slot {
	background-color: #d3d7cf;
}

#schedule-week .late-afternoon-slot {
	background-color: #eeeeec;
}

#schedule-week .evening-slot {
	background-color: #d3d7cf;
	border-right-style: solid !important;
	border-right-width: medium !important;
}

#schedule-week td:last-child {
	border-right-style: solid !important;
	border-right-width: medium !important;
}

/* Layout for the course ID table cell */
#schedule-week td.course-id {
	position: -webkit-sticky;
	position: sticky;
	left: 0;
	background-clip: padding-box;
}

/* Layout for the course title table cell */

#schedule-week td.course-title {
	position: -webkit-sticky;
	position: sticky;
	z-index: 1;
	left: 52px;
	border-right-style: solid !important;
	border-right-width: medium !important;
	font-size: 14px;
	text-align: left;
	background-clip: padding-box;
}

/* For high resolutions, we increase the title font size */
@media only screen and (min-resolution:200dpi) and (max-resolution:300dpi) {
	#schedule-week td.course-title { font-size: 16px; }
}
@media only screen and (min-resolution:300dpi) {
	#schedule-week td.course-title { font-size: 18px; }
}

/* Layout for time slot boxes */
#schedule-week td.slot-box {
	text-align: center;
}

#schedule-week td.rowspan {
	writing-mode: vertical-rl;
	padding-left: 15px !important;
}

/****************
* Shared Styles *
****************/

#schedule-daily div.course-id.bc,#schedule-week .course-id.bc,#schedule-week .slot-box.bc { background-color: #009939; }
#schedule-daily div.course-id.mc,#schedule-week .course-id.mc,#schedule-week .slot-box.mc { background-color: #e21317; }
#schedule-daily div.course-id.sc,#schedule-week .course-id.sc,#schedule-week .slot-box.sc { background-color: #f7a70e; }
#schedule-daily div.course-id.pc,#schedule-week .course-id.pc,#schedule-week .slot-box.pc { background-color: #1d8ece; }
#schedule-daily div.course-id.prc,#schedule-week .course-id.prc,#schedule-week .slot-box.prc { background-color: #1d8ece; }
#schedule-daily div.course-id.et,#schedule-week .course-id.et,#schedule-week .slot-box.et { background-color: #674ea7; }
#schedule-daily div.course-id.rc,#schedule-week .course-id.rc,#schedule-week .slot-box.rc { background-color: #674ea7; }
#schedule-daily div.course-id.evnt,#schedule-daily div.course-id.hk,#schedule-week .course-id.evnt,#schedule-week .slot-box.evnt { background-color: #674ea7; }

/* Layout within the course title box */
#schedule-daily div.course-title {
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#schedule-daily .course-title.bc,#schedule-week .course-title.bc,#schedule-single-track .session.bc { background-color: #52cc7f }
#schedule-daily .course-title.mc,#schedule-week .course-title.mc,#schedule-single-track .session.mc { background-color: #ec5b5d }
#schedule-daily .course-title.sc,#schedule-week .course-title.sc,#schedule-single-track .session.sc { background-color: #f7c058 }
#schedule-daily .course-title.pc,#schedule-week .course-title.pc,#schedule-single-track .session.pc { background-color: #60afdb }
#schedule-daily .course-title.prc,#schedule-week .course-title.prc,#schedule-single-track .session.prc { background-color: #60afdb }
#schedule-daily .course-title.et,#schedule-week .course-title.et,#schedule-single-track .session.et { background-color: #9280c1 }
#schedule-daily .course-title.rc,#schedule-week .course-title.rc,#schedule-single-track .session.rc { background-color: #9280c1 }
#schedule-daily .course-title.evnt,#schedule-daily .course-title.hk,#schedule-week .course-title.evnt,#schedule-single-track .session.evnt { background-color: #9280c1 }

/* Layout for the course ID span */
#schedule-daily span.course-id,#schedule-week span.course-id { font-weight: bold; }

/* Layout for the course title span */
#schedule-daily span.course-title,#schedule-week span.course-title { font-weight: bold; }

/* special CSS for the KI 2020 registration form */

body.page-id-1210 header#masthead,body.page-template-ki_2020_registration_form header#masthead{
	display : none;
}

body.page-id-1210 footer#colophon,body.page-template-ki_2020_registration_form footer#colophon {
	display : none;
}

/* placeholder texts in form input fields should have a lighter color */
form#registration_form input::placeholder,
form#registration_form textarea::placeholder,
form#description_form input::placeholder,
form#description_form textarea::placeholder,
form#suggestion_form input::placeholder,
form#suggestion_form textarea::placeholder{
	color: #999;
}

/* Only float lecturer images to the right, if the screen is wide enough. */
@media screen and (max-width: 48em) {
	article.category-ik-2021-courses figure.alignright {
		margin: 1em 0;
		width: 100%;
		float: none;
		text-align: center;
	}

	article.category-ik-2021-courses figure.alignright > * {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
}

/* Embedded SVG images for social media links */

#top-menu #menu-item-2855,
#top-menu #menu-item-2854 {
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-size: 32px 32px;
}

#top-menu #menu-item-2855 a,
#top-menu #menu-item-2854 a,
#top-menu #menu-item-2855 a:hover,
#top-menu #menu-item-2854 a:hover {
	color: transparent;
}

/* Twitter */
#menu-item-2855 {
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-twitter' aria-hidden='true' role='img'%3E%3Cpath class='path1' d='M28.929 7.286q-1.196 1.75-2.893 2.982 0.018 0.25 0.018 0.75 0 2.321-0.679 4.634t-2.063 4.437-3.295 3.759-4.607 2.607-5.768 0.973q-4.839 0-8.857-2.589 0.625 0.071 1.393 0.071 4.018 0 7.161-2.464-1.875-0.036-3.357-1.152t-2.036-2.848q0.589 0.089 1.089 0.089 0.768 0 1.518-0.196-2-0.411-3.313-1.991t-1.313-3.67v-0.071q1.214 0.679 2.607 0.732-1.179-0.786-1.875-2.054t-0.696-2.75q0-1.571 0.786-2.911 2.161 2.661 5.259 4.259t6.634 1.777q-0.143-0.679-0.143-1.321 0-2.393 1.688-4.080t4.080-1.688q2.5 0 4.214 1.821 1.946-0.375 3.661-1.393-0.661 2.054-2.536 3.179 1.661-0.179 3.321-0.893z' fill='%2393CFF0'%3E%3C/path%3E%3C/svg%3E");
}

/* YouTube */
#menu-item-2854 {
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-youtube' aria-hidden='true' role='img'%3E%3Cpath class='path1' d='M17.339 22.214v3.768q0 1.196-0.696 1.196-0.411 0-0.804-0.393v-5.375q0.393-0.393 0.804-0.393 0.696 0 0.696 1.196zM23.375 22.232v0.821h-1.607v-0.821q0-1.214 0.804-1.214t0.804 1.214zM6.125 18.339h1.911v-1.679h-5.571v1.679h1.875v10.161h1.786v-10.161zM11.268 28.5h1.589v-8.821h-1.589v6.75q-0.536 0.75-1.018 0.75-0.321 0-0.375-0.375-0.018-0.054-0.018-0.625v-6.5h-1.589v6.982q0 0.875 0.143 1.304 0.214 0.661 1.036 0.661 0.857 0 1.821-1.089v0.964zM18.929 25.857v-3.518q0-1.304-0.161-1.768-0.304-1-1.268-1-0.893 0-1.661 0.964v-3.875h-1.589v11.839h1.589v-0.857q0.804 0.982 1.661 0.982 0.964 0 1.268-0.982 0.161-0.482 0.161-1.786zM24.964 25.679v-0.232h-1.625q0 0.911-0.036 1.089-0.125 0.643-0.714 0.643-0.821 0-0.821-1.232v-1.554h3.196v-1.839q0-1.411-0.482-2.071-0.696-0.911-1.893-0.911-1.214 0-1.911 0.911-0.5 0.661-0.5 2.071v3.089q0 1.411 0.518 2.071 0.696 0.911 1.929 0.911 1.286 0 1.929-0.946 0.321-0.482 0.375-0.964 0.036-0.161 0.036-1.036zM14.107 9.375v-3.75q0-1.232-0.768-1.232t-0.768 1.232v3.75q0 1.25 0.768 1.25t0.768-1.25zM26.946 22.786q0 4.179-0.464 6.25-0.25 1.054-1.036 1.768t-1.821 0.821q-3.286 0.375-9.911 0.375t-9.911-0.375q-1.036-0.107-1.83-0.821t-1.027-1.768q-0.464-2-0.464-6.25 0-4.179 0.464-6.25 0.25-1.054 1.036-1.768t1.839-0.839q3.268-0.357 9.893-0.357t9.911 0.357q1.036 0.125 1.83 0.839t1.027 1.768q0.464 2 0.464 6.25zM9.125 0h1.821l-2.161 7.125v4.839h-1.786v-4.839q-0.25-1.321-1.089-3.786-0.661-1.839-1.161-3.339h1.893l1.268 4.696zM15.732 5.946v3.125q0 1.446-0.5 2.107-0.661 0.911-1.893 0.911-1.196 0-1.875-0.911-0.5-0.679-0.5-2.107v-3.125q0-1.429 0.5-2.089 0.679-0.911 1.875-0.911 1.232 0 1.893 0.911 0.5 0.661 0.5 2.089zM21.714 3.054v8.911h-1.625v-0.982q-0.946 1.107-1.839 1.107-0.821 0-1.054-0.661-0.143-0.429-0.143-1.339v-7.036h1.625v6.554q0 0.589 0.018 0.625 0.054 0.393 0.375 0.393 0.482 0 1.018-0.768v-6.804h1.625z' fill='%2393CFF0'%3E%3C/path%3E%3C/svg%3E");
}
