<style>
p.authors { font-weight: bold; margin-bottom: 0; }
p.affiliation { font-style: italic; font-size: 80% }
</style>

<ol>
<li><a href="#1">Let’s talk about your data (management)!</a></li>
<li><a href="#2">Integrating Multimodal Proprioceptive Feedback – How Sensory Signal Interactions Shape Network Processing & Output in Insect Leg Motor Control</a></li>
<li><a href="#3">Identification of Chiasmal Malformations with Deep Learning Anomaly Detection</a></li>
<li><a href="#4">Modeling leg kinematics of walking fruit flies, Drosophila melanogaster</a></li>
<li><a href="#5">Rhythm generation in leg motor neurons in the stick insect walking system</a></li>
<li><a href="#6">The Dot Task – Sense of Agency in patients with Schizophrenia</a></li>
<li><a href="#7">Identifying Monarch Butterflies for Population Tracking through Computer Vision</a></li>
<li><a href="#8">A cooperative semantic word game as a model for memory-based decision making</a></li>
</ol>

<h3>Industry posters</h3>
<ul>
<li><a href="#9">Amboss</a></li>
<li><a href="#10">Overview on Open Source Software Development</a></li>
<li><a href="#11">Jina AI - An easier way to build neural search on the cloud</a></li>
<li><a href="#12">Sort-it by Intuity: Knowledge Representation in Action</a></li>
<li><a href="#13">FeelSpace</a></li>
<li><a href="#14">Shaping the Future of Interconnectedness in Agriculture: CLAAS E-Systems</a></li>
</ul>

<h3 id="1">1: Let’s talk about your data (management)!</h3>

<p class="authors">Christina Zeller</p>

<p class="affiliation">Computing Centre, University of Bamberg</p>

<p class="description">Loosing data is not only a personal disappointing experience. It can also draw back years of research or hinder the replication of research results, and thereby making the results less trustworthy [1, 2]. Research Data Management (RDM) as “the process of administering [...] data throughout its lifecycle, from planning, production, selection and evaluation to storage and processing for the purposes of reuse” [3], tries to solve these issues and many more.<br> However, RDM is still not well known or accepted among researchers, which is often related to an insufficient implementation within research institutions, and that is often related to a lack of good tools that facilitate the research process (or at least don’t make it harder) [4].<br> With this poster, we want to spread the awareness of Research Data Management on a personal, institutional and global level, and thereby, creating a knowledge exchange of existing solutions and best practices. We want to discuss how we together can improve the situation to create FAIR [5] data with pain-free tools that enhance the complete research process.<br><br>  [1] J. M. Perkel. 11 ways to avert a data-storage disaster. en. Nature, 568(7750):131–132, Apr. 2019. doi : 10.1038/d41586- 019- 01040- w. url : https://www.nature.com/ articles/d41586-019-01040-w (visited on 01/22/2021).<br> [2] M. Baker. 1,500 scientists lift the lid on reproducibility. en. Nature News, 533(7604):452, May 2016. doi : 10 . 1038 / 533452a. url : http : / / www . nature . com / news / 1 - 500 - scientists - lift - the - lid - on - reproducibility - 1 . 19970 (visited on 01/22/2021).<br> [3] Arbeitsgruppe Forschungsdaten. Research Data Management. A Guide for Researchers. en, 2018. doi : 10.2312/ALLIANZOA.030. url : https://gfzpublic.gfz-potsdam.de/ pubman/item/item_3190889 (visited on 01/22/2021).<br> [4] M. Putnings, H. Neuroth, and J. Neumann, editors. Praxishandbuch Forschungsdaten- management. de. De Gruyter Saur, Jan. 2021. isbn : 978-3-11-065780-7. url : https : //www.degruyter.com/view/title/554542 (visited on 01/20/2021).<br> [5] FORCE11. Guiding Principles for Findable, Accessible, Interoperable and Re-usable Data Publishing version b1.0. en, Sept. 2014. url : https : / / www . force11 . org / fairprinciples (visited on 01/22/2021).<br></p>


<h3 id="2">2: Integrating Multimodal Proprioceptive Feedback – How Sensory Signal Interactions Shape Network Processing & Output in Insect Leg Motor Control</h3>

<p class="authors">Corinna Gebehart, Ansgar Büschges</p>

<p class="affiliation">University of Cologne, Institute of Zoology</p>

<p class="description">Motor control of locomotion strongly depends on proprioceptive feedback. In legged animals, sensory signals from the limbs provide information about leg loading, posture, and movement. In insects, these signals are provided by the femoral chordotonal organ (fCO, movement) and campaniform sensilla (CS, load) and are processed by local premotor nonspiking interneurons (NSIs) to drive the appropriate motor output such as reflex responses to perturbations. This requires the integration of proprioceptive signals from multiple sources into a single perceptual framework. We asked how inputs from different sense organs affect each other in the generation of the final motor output and investigated multimodal signal interaction at different neuronal stages, i.e. the motor output, the distributed nonspiking network, and the sensory inputs themselves.<br> We combined intracellular sharp electrode recordings of sensory afferents, NSIs, and the slow and fast extensor tibiae motor neuron (SETi / FETi MN) with extracellular nerve recordings and mechanical load and movement stimuli to investigate the effects of load signaling on movement feedback processing in the control loop of the stick insect femur-tibia joint.<br> Proprioceptive signals from the fCO and tibial CS induce reflex activation of extensor tibiae MNs. We tested the effect of combined load and movement stimuli on the gain of MN responses to increasing movement stimulus amplitudes from the fCO. Simultaneous sensory feedback had divergent effects on distinct output channels of the premotor network, i.e. decreasing the gain in SETi and increasing it in FETi. Upstream in the network, concurrent load and movement feedback resulted in nonlinear summation of the two signals by NSIs. We found sensory signals to interact at the earliest neuronal stage, via presynaptic afferent inhibition; load reduced the amplitude of coinciding fCO action potentials, thus reducing the impact of movement information in the presence of load. Pharmacological removal of presynaptic inhibition abolished the influence of load on movement signals in the motor output.<br> We conclude that movement signal processing in the local premotor network is under the control of load feedback. This provides a mechanism by which a neural network could implement context-specificity in its computations at a local level, e.g. to alter signal processing and motor output between swing and stance phase during walking.<br><br> Supported by DFG-Grant GRK 1960 Research Training Group Neural Circuit Analysis to AB & CG and Studienstiftung des deutschen Volkes Doctoral Scholarship to CG.</p>


<h3 id="3">3: Identification of Chiasmal Malformations with Deep Learning Anomaly Detection</h3>

<p class="authors">Robert J. Puzniak (1), Michael B. Hoffmann (1,2)</p>

<p class="affiliation">(1) Visual Processing Lab, Department of Ophthalmology, Otto-von-Guericke-University and (2) Center for Behavioral Brain Sciences, Otto-von-Guericke-University</p>

<p class="description">Human optic chiasm is a visual system structure formed by partially crossing optic nerves of both eyes. The normal pattern of the crossing 1 can be however affected by congenital disorders, such as albinism 2, causing the malformations of the optic chiasm’s structure 3. While the misrouting of optic nerves can be identified using functional visually evoked potentials 4, fMRI 5, or specialized diffusion MRI 6 methods, no method capable of identification of chiasmal abnormalities from commonly used T1-weighted (T1w) MRI image was proposed. This problem may be addressed by application of Convolutional Neural Networks (CNNs) to this problem, provided that the features of malformed and control chiasms make them distinguishable. The aim of our work was to test this hypothesis using Deep Learning-based supervised anomaly detection. Specifically, we trained a 3D U-Net 7 CNN to extract optic chiasm mask from control T1w data. For this purpose we used T1w images of control participants (n=1065) from Human Connectome Project repository 8. The optic chiasm masks used in the process of training were extracted from T1w images through segmentation (performed with FreeSurfer software 9) and refined using custom algorithm based on Otsu’s segmentation methods 10. The trained CNN was afterwards run on T1w MRI data of participants with albinism (n=9), achromatopsia (visual system abnormality not affecting the optic chiasm; n=5) and controls (n=8) generating binary optic chiasm masks, which were used as a main metrics. Additionally, from the patients’ T1w images we manually segmented binary optic chiasm masks, which were used as a ground truth reference.<br> No significant differences between volumes of hand-made patients’ optic chiasm masks (343 ± 61 mm¬3 for controls, 400 ± 111 mm3 for albinism and 287 ± 9 mm3 for achromatopsia) were observed (Student’s t-test p-values > 0.05 for all comparisons). The similar analysis for masks output by CNN were however very different – chiasm mask sizes for albinism (299 ± 88 mm3) fell short of those for controls (490 ± 73 mm3; p =0.00002) and achromatopsia (with one false CNN prediction being removed; 471 ± 29 cm3, p=0.004). Meanwhile, no significant size difference between controls and achromatopsia was evident (p-value = 0.63). The spread of results was further investigated by a linear regression classification performed on pooled albinism and control data, which yielded Area Under Curve (AUC) equal to 0.80. Lack of observed differences for hand-curated masks combined with very clear differences revealed by CNN segmentation (which is sensitized to pattern in data) indicates that abnormal optic chiasm’s structure, associated with abnormal crossing, can be identified by CNN. This opens a way for development of CNNs specialized in identification and quantification of optic chiasm abnormalities.<br><br>  1. Kupfer, C., Chumbley, L. & Downer, J. C. Quantitative histology of optic nerve, optic tract and lateral geniculate nucleus of man. J. Anat. 101, 393–401 (1967).<br> 2. Hoffmann, M. B. & Dumoulin, S. O. Congenital visual pathway abnormalities: a window onto cortical stability and plasticity. Trends Neurosci. 38, 55–65 (2015).<br> 3. Käsmann-Kellner, B. et al. [Anatomical differences in optic nerve, chiasma and tractus opticus in human albinism as demonstrated by standardised clinical and MRI evaluation]. Klin. Monatsbl. Augenheilkd. 220, 334–344 (2003).<br> 4. Hagen, E. A. H. von dem, Hoffmann, M. B. & Morland, A. B. Identifying Human Albinism: A Comparison of VEP and fMRI. Invest. Ophthalmol. Vis. Sci. 49, 238–249 (2008).<br> 5. Ahmadi, K. et al. Population receptive field and connectivity properties of the early visual cortex in human albinism. NeuroImage 202, 116105 (2019).<br> 6. Puzniak, R. J. et al. Quantifying nerve decussation abnormalities in the optic chiasm. NeuroImage Clin. 24, 102055 (2019).<br> 7. Çiçek, Ö., Abdulkadir, A., Lienkamp, S. S., Brox, T. & Ronneberger, O. 3D U-Net: Learning Dense Volumetric Segmentation from Sparse Annotation. ArXiv160606650 Cs (2016).<br> 8. Van Essen, D. C. et al. The WU-Minn Human Connectome Project: an overview. NeuroImage 80, 62–79 (2013). 9. Fischl, B. et al. Whole brain segmentation: automated labeling of neuroanatomical structures in the human brain. Neuron 33, 341–355 (2002).<br> 10. Otsu, N. A Threshold Selection Method from Gray-Level Histograms. IEEE Trans. Syst. Man Cybern. 9, 62–66 (1979).<br></p>


<h3 id="4">4: Modeling leg kinematics of walking fruit flies, Drosophila melanogaster</h3>

<p class="authors">Moritz Haustein, Ansgar Büschges, and Till Bockemühl</p>

<p class="affiliation">Institute of Zoology, University of Cologne</p>

<p class="description">An inherent feature of behavior is its adaptability to motivational goals and the prevailing environmental conditions. In the context of legged locomotion, i.e. walking, animals can traverse diverse substrates with different speeds, turn their heading direction, or can even compensate for the loss of a leg. This versatility emerges from the fact that legs have more joints and/or more degrees of freedom, i.e. independent directions of motion, than required for pure walking [1]. However, that implies that multiple, or even infinitely many, joint configurations can result in the same stepping pattern. How the nervous system controls such kinematic redundancy remains still unknown.<br><br>  Drosophila melanogaster represents an expedient model organism for studying walking [2]. However, its tiny size and capability for relatively fast movements challenges the precise measurement of leg movements which is required to obtain insights into the underlying motor control principles. Here, we present a kinematic leg model for D. melanogaster which allows the detailed capture and analysis of 3D leg kinematics during walking as well as the performance of in silico experiments. Joint positions and rotational axes were extracted from micro-computed tomography (µCT) data and used to construct kinematic chains for all legs. <br> To attain natural leg poses, joint angles were optimized by using a gradient descent algorithm to reduce the distance between the model joints and motion captured joint positions of real walking animals. For motion capture, fruit flies walked on a spherical treadmill [3] and leg movements were recorded with six synchronized high-speed cameras (400 fps) surrounding the animal. Automated tracking of 36 leg markers (six per leg) and five body reference markers was accomplished by using the convolutional neural network DeepLabCut [4].<br> Subsequently, 3D positions were determined by triangulation of 2D marker projections from multiple views.<br><br>  [1] Full, R.J. and Koditschek, D.E. 1999. Templates and anchors: neuromechanical hypotheses of legged locomotion on land. Journal of Experimental Biology. 202: 3325–3332.<br> [2] Calabrese, R.L. 2013. Fruit flies step out. ELife. 2: e00450.<br> [3] Berendes, V., Zill, S.N., Büschges, A., and Bockemühl, T. 2016. Speed-dependent interplay between local pattern-generating activity and sensory signals during walking in Drosophila. Journal of Experimental Biology. 219: 3781–3793.<br> [4] Mathis, A., Mamidanna, P., Cury, K.M., Abe, T., Murthy, V.N., Mathis, M.W., et al. 2018. DeepLabCut: markerless pose estimation of user-defined body parts with deep learning. Nature Neuroscience. 21: 1281–1289.<br></p>


<h3 id="5">5: Rhythm generation in leg motor neurons in the stick insect walking system</h3>

<p class="authors">Angelina Ruthe, Charalampos Mantziaris, Ansgar Büschges</p>

<p class="affiliation">Institute of Zoology, University of Cologne</p>

<p class="description">Rhythmic motor activity during walking in the stick insect is supported by the activity of central pattern generating networks (CPGs). CPGs rhythmically drive the motor neurons innervating antagonistic muscle pairs that are responsible for movement of the leg segments. Flexor tibiae and extensor tibiae motor neurons innervating the muscles of the femur-tibia-joint were shown to receive phasic alternating inhibitory synaptic drive from the premotor CPGs (Büschges, 1998, Brain Res 783:262; Büschges et al. 2004, Eur J Neurosci 19:1856). However, the synaptic drive from CPGs to the motor neurons innervating the muscles of the other leg joints remains elusive. We sought to answer this question for the motor neuron pools of the two most proximal leg joints, i.e. protractor coxae and retractor coxae as well as levator trochanteris and depressor trochanteris motor neurons. For this, we activated the central networks and thereby elicited rhythmic activity in antagonistic leg motor neuron pools in the mesothoracic ganglion by bath application of the muscarinic acetylcholine receptor agonist pilocarpine (Büschges et al. 1995; J Exp Biol 198:435), while recording intracellularly from their neuropilar arborizations. Synaptic inputs to motor neurons were examined by analyzing membrane potential modulations and changes in their membrane resistance during rhythmic activity. Our results so far have shown that the alternating activity of retractor coxae and protractor coxae motor neurons is generated by rhythmic inhibitory synaptic drive from the belonging joint CPG, similarly to the flexor tibiae and extensor tibiae motor neurons. The amplitude of this inhibition increased upon depolarizing current injection and decreased upon hyperpolarization of the motor neurons.</p>


<h3 id="6">6: The Dot Task – Sense of Agency in patients with Schizophrenia</h3>

<p class="authors">Tim Möller (1) ,Martin Voss (1,2,3), Wen Wen (4), Patrick Haggard (5,6,7), Laura Kaltwasser (1)  </p>

<p class="affiliation">(1) Berlin School of Mind and Brain, Humboldt-Universität zu Berlin (2) Department for Psychiatry and Psychotherapy, Charité University Medicine, (3) St. Hedwig Krankenhaus, Berlin (4) Department of Precision Engineering, The University of Tokyo, (5) Institute of Cognitive Neuroscience, University College London (6) Institute of Philosophy, School of Advanced Study, University of London (7) Laboratoire de Neurosciences Cognitives, Département d’Études Cognitives, École Normale Supérieure, Paris</p>

<p class="description">Schizophrenia represents a severe mental disorder, in which self-disturbances are reported as an incapacity to preconceptually grasp the meaning of the world and a loss of ‘common sense’ [1]. From a computational perspective, disturbances of the self in schizophrenia such as disturbed sense of agency (SoA) is described in terms of false active inference. Patients show reduced precision in sensorimotor predictions which may lead to sensory attenuation deficits, abnormal eye movements and altered awareness of own actions and body. Dimensions of self-disturbance will be assessed by the analysis of steady state visually evoked potentials (SSVEPs).<br> We will use a novel visuomotor experimental task developed by [2] in order to study sense of agency, EEG, and eye movements.<br> Participants are instructed to move the index finger of their dominated hand on a touchpad. Their movements are translated into one of three moving objects on a screen which motion is a combination of the participants’ own finger movements and also pre-recorded finger movements of another person, producing continuous levels of prediction error.<br> We further investigate anomalies in SoA in schizophrenia to model the patient’s behavior in a humanoid robot in a follow-up project. The pattern of disturbed behavior in the task will be compared to different computational models implemented into an embodied agent, in order to create a lesion model of disrupted SoA according to the predictive coding framework [4].<br><br>  [1] Blankenburg, W. 1971. Der Verlust der natürlichen Selbstverständlichkeit: ein Beitrag zur Psychopathologie symptomarmer Schizophrenien. Stuttgart: Enke.<br> [2] Wen, W., Brann, E., Di Costa, S., & Haggard, P. 2018. Enhanced perceptual processing of self-generated motion: Evidence from steady-state visual evoked potentials. NeuroImage 175, 438-448<br> [3] Krystal, J. H., Murray, J. D., Chekroud, A. M., Corlett, P. R., Yang, G., Wang, X.-J., et al. 2017. Computational Psychiatry and the Challenge of Schizophrenia. Schizophrenia Bulletin 43(3), 473-475.<br> [4] Friston, K., & Kiebel, S. 2009. Predictive coding under the free-energy principle Philosophical Transactions of the Royal Society B: Biological Sciences 364(1521), 1211-1221.<br></p>


<h3 id="7">7: Identifying Monarch Butterflies for Population Tracking through Computer Vision</h3>

<p class="authors">Thomas Y. Chen</p>

<p class="affiliation">Academy for Mathematics, Science, and Engineering</p>

<p class="description">In recent years, the monarch butterfly's iconic migration patterns have come under threat from a number of factors, from climate change to pesticide use. To track trends in their populations, scientists as well as citizen scientists must identify individuals accurately. This is key because there exist other species of butterfly, such as viceroy butterflies, that are "look-alikes," having similar phenotypes. To tackle this problem and to aid in more efficient identification, we present MonarchNet, the first comprehensive dataset consisting of butterfly imagery for monarchs and five look-alike species. We train a baseline deep-learning classification model to serve as a tool for differentiating monarch butterflies and its various look-alikes. We seek to contribute to the study of biodiversity and butterfly ecology by providing a novel method for computational classification of these particular butterfly species. The ultimate aim is to help scientists track monarch butterfly population and migration trends in the most precise and efficient manner possible.</p>


<h3 id="8">8: A cooperative semantic word game as a model for memory-based decision making</h3>

<p class="authors">Peter M. Kraemer</p>

<p class="affiliation">University of Basel</p>

<p class="description">Recent research in cognitive science and natural language processing puts increasing emphasis on cooperative semantic word games such as Codenames. In Codenames, two agents - a sender and a receiver - work together to choose a particular set of concepts among several alternatives. The sender indicates a target concept by generating a cue word, which is related to the target. The receiver needs to infer, which target concept the sender had in mind. The task requires multiple cognitive processes such as perception, semantic memory retrieval, decision making and learning. By focusing on memory and decision processes, I propose that an agent can solve this task via Bayesian inference. More specifically, the agent computes semantic relatedness from a spatial memory representation and thereby informs a likelihood function. The agent computes its posterior belief, which concept to choose, based on the likelihood and its prior belief. Finally, the agent makes a stochastic choice to select a given set of concepts. I conclude that a Bayesian decision model allows a flexible and inclusive approach towards modeling cooperative word games.</p>


<h3 id="9">Amboss</h3>

<p class="authors">Sarah Schulz</p>

<p class="description">Amboss was originally intended as a learning platform for students to make it easier for them to prepare for the written second state examination. Now it offers thousands of articles, images and videos in English and German. In the meantime, young interns are also benefiting from the application, as a “doctor mode”, including therapy suggestions, has been added.<br> Digital health as a topic that can benefit from AI methods is a growing field. I want to show you around our platform and discuss the opportunities that AI methods yield for such an application. Afterwards, you might feel like checking out our career page! </p>


<h3 id="10">Overview on Open Source Software Development</h3>

<p class="authors">Jochen Sprickerhof</p>

<p class="description"></p>


<h3 id="11">Jina AI - An easier way to build neural search on the cloud</h3>

<p class="authors">Fionn Delahunty</p>

<p class="description">Jina is a deep learning-powered search framework for building cross-/multi-modal search systems (e.g. text, images, video, audio) on the cloud. We are an open-source community-built framework, back by a professional VC-funded startup. If you're interested in open-source neural search, SOTA performance in cross-/multi modal search or continuous learning come and have a chat! We are also hiring full-time and internship positions.</p>


<h3 id="12">Sort-it by Intuity: Knowledge Representation in Action</h3>

<p class="authors">Alexandra Kirsch</p>

<p class="description">Intuity combines strategy, creativity, design, science, and technology in one place. We deal with numerous interconnected and ever changing pieces of information, for instance snippets from a requirement workshop with users, customers or product owners of a new service, product or software application. This is why we set out to build our own tool for exploring, consolidating and structuring knowledge.<br><br>  From a user perspective Sort-it helps to solve complex problems. Under the hood Sort-it implements a novel knowledge representation approach that combines classical frame-like knowledge representation with cognitive models of human categorization.<br><br>  Sort-it is a prime example demonstrating that AI is more than data science and that AI techniques are only as powerful as their application to real-world user demands.<br> </p>


<h3 id="13">FeelSpace</h3>

<p class="authors">Susan Wache</p>

<p class="description">TBD</p>


<h3 id="14">Shaping the Future of Interconnectedness in Agriculture: CLAAS E-Systems</h3>

<p class="authors">Felix Hülsmann, Lisa Korfmacher</p>

<p class="description">The need to feed a growing global population raises challenges in all areas of agriculture. Already in 1936, CLAAS faced these challenges by launching their first combine harvester. Such machines were an industrial revolution in the first half of the 20th century. Right now, modern agriculture at CLAAS comprises interconnected, self-optimizing machines that navigate autonomously through the fields. Such machines are linked with the farmer’s management system. This enables farmers to observe and optimize the harvest of their machines online. Interactive maps provide information on grain quality so that fertilization can be optimized. These are only some examples of the exciting developments that we advance in the German family-owned company CLAAS.<br><br>   CLAAS is one of the world's leading manufacturers of agricultural technology. Our modern harvesting machines, tractors, balers and agricultural information technologies help to meet the growing demand for food, energy and raw materials. With over 11,000 employees worldwide, we achieved sales of €4 billion in 140 countries in the 2020 financial year. CLAAS E-Systems GmbH is the integrated partner in the CLAAS Group for electronic systems. Our approximately 220 employees at four sites in Germany and Denmark develop innovative, intelligent software programs, systems and machine components to make agriculture more efficient, and their daily commitment contributes to the success of CLAAS.<br><br>  Visit our virtual poster at the IK industrial day in order to learn about our daily work at CLAAS E-Systems and about possibilities to join our teams.</p>

